<div class="banner">
  <img width="100%" src="<%= asset_path('banner_blackout6.png') %>">
  <div class="container">
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<img src="banner_blackout5.png" alt="">
